{% extends "layout.html" %}

{% block title %}
    Graph
{% endblock %}

{% block main %}

    <script src="static/display.js"></script>
    
    <form action="{{ url_for('graph') }}" method='POST'>
        <fieldset>
            <div class="form-group">
                <table>
                    <tr>
                        <td class="header"><h3>GitHub Language Popularity</h3></td>
                    </tr>
                    <tr>
                        <td class="spacer"></td>
                    </tr>
                    <tr>
                        <td><script type="text/javascript"></script></td>
                    </tr>
                    <tr>
                        <td class="spacer"></td>
                    </tr>
                    <tr>
                        {% for LANG in LANGS %}
                            <td><input class="button" type="submit" name="lang_name" value="{{ LANGS[loop.index0] }}"></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="spacer"></td>
                    </tr>
                    <tr>
                        <td>To erase your plot and start over, please click the RELOAD button.</td>
                    </tr>
                    
                </table>
            </div>
        </fieldset>
    </form>
{% endblock %}

