{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    
    <form action="{{ url_for('index') }}" method='POST'>
        <fieldset>
            <div class="form-group">
                <table>
                    <tr>
                        <td class="header"><h3>GitHub Language Popularity</h3></td>
                    </tr>
                    <tr>
                        <td class="spacer"></td>
                    </tr>
                    <tr>
                        <td><p>In 1843, mathematician Ada Lovelace published an algorithm to calculate a sequence of Bernoulli numbers.  This algorithm is considered to be the first computer program ever developed.  Since then, numerous programming languages have been developed for a programmer to choose from.  However some are more popular then others.  You can use this app to evaluate the popularity of several languages being used today via current data from GitHub.  Results are based on the top 30 most "starred" repositories that use the selected language.</p></td>
                    </tr>
                    <tr>
                        <td class="spacer"></td>
                    </tr>
                    <tr>
                        {% for LANG in LANGS %}
                            <td><input class="button" type="submit" name="lang_name" value="{{ LANGS[loop.index0] }}"></td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </fieldset>
    </form>
{% endblock %}

